.scenegraph-table {
    -fx-background-color: background_color;
}

.scenegraph-table .placeholder {
    -fx-background-color: background_color;
}

.scenegraph-table .column-header-background {
    visibility: hidden;
    -fx-padding: -1em;
}

.scenegraph-table .tree-table-row-cell {
    -fx-background-color: background_color !important;
}

.scenegraph-table .tree-table-row-cell:drag-target {
    -fx-background-color: light_color_dark !important;
}

.scenegraph-table .tree-table-row-cell:drag-target-previous {
    -fx-border-color: gray_color;
    -fx-border-width: 2px 0 0 0;
}

.scenegraph-table .tree-table-row-cell:drag-target-next {
    -fx-border-color: gray_color;
    -fx-border-width: 0 0 2px 0;
}

.scenegraph-table .scenegraph-column {
    -fx-border-color: light_color_dark;
    -fx-border-width: 0 1px 0 0;
}

.scenegraph-table .scenegraph-column:last-visible {
    -fx-border-width: 0 0 0 0;
}