.toolbar-top {
    -fx-border-color: background_color_dark;
    -fx-border-width:  0px 0px 2px 0px;
}

.toolbar-top .button {
     -fx-background-color: background_color;
}

.editor-container {

}

.statusbar {
    -fx-padding: 5px;
}